@import 'font';
@import 'var';

// Fix clear problem
.clearfix:after,
.clearfix:before {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    font-family: 'quicksand';
}

.banner {
    background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($dark-gray, .7);
        z-index: 10;
    }
    .banner__content {
        color: $light-gray;
        text-align: center;
        position: relative;
        z-index: 11;
    }
}

.writer__text {
    font-size: 2em;
    line-height: 1.5;
    a {
        text-decoration: none;
        display: inline-block;
        position: relative;
        color: $light-gray;
        transition: .3s;
        &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: .2em;
            background-color: $base-color;
        }
        &:hover {background-color: rgba($base-color, .6);}
    }
}

.banner__info {
    .banner__text {
        font-size: 1.5em;
        line-height: 1.4;
    }
    .btn {
        border: 3px solid $accent-color;
        cursor: pointer;
        background-color: rgba($accent-color, .8);
        text-transform: capitalize;
        color: $light-gray;
        font-size: 1em;
        transition: .3s;
        letter-spacing: 2px;
        &:hover {
            background-color: rgba($accent-color, .6);
        }
    }
}

@media screen and (min-width:576px) {}
@media screen and (min-width:768px) {
    .writer__text {font-size: 2.5em;}
}
@media screen and (min-width:992px) {
    .banner__info {
        .banner__text {font-size: 2em;}}
}
@media screen and (min-width:1200px) {
    .writer__text {font-size: 3em;} 

    .banner__info {
        .banner__text {font-size: 2em;}
        .btn {font-size: 1.5em;}
    }

    .banner {
        .banner__content {text-align: left;}
    }
}